<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ADM" providerName="System.Data.SqlClient"
         connectionString="Data Source=DESKTOP-7V51383\SQLEXPRESS;Initial Catalog=Cuentas por Cobrar;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="loan-reports-path" value="C:\Users\emman\OneDrive\Documentos\Reportes\Prestamos"/>
    <add key="default-report-header-backgound-color" value="Azure"/>
    <add key="default-report-header-font-size" value="12"/>
    <add key="default-report-header-font-bold" value="1"/>
    <add key="default-report-title-font-size" value="22"/>
  </appSettings>
</configuration>




