USE [master]
GO
/****** Object:  Database [Cuentas por Cobrar]    Script Date: 8/24/2021 11:24:59 PM ******/
CREATE DATABASE [Cuentas por Cobrar]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cuentas por Cobrar', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Cuentas por Cobrar.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cuentas por Cobrar_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Cuentas por Cobrar_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cuentas por Cobrar].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cuentas por Cobrar]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CODIGO] [char](7) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[CEDULA] [char](11) NOT NULL,
	[FECHA_NAC] [date] NULL,
	[TELEFONO] [char](10) NULL,
	[DIRECCION] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[CODIGO] [char](5) NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[CEDULA] [char](11) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[CLAVE] [varchar](50) NOT NULL,
	[TIPO_USUARIO] [varchar](50) NULL,
	[ESTADO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRESTAMO]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTAMO](
	[CODIGO] [char](7) NOT NULL,
	[CODIGO_CLIENTE] [char](7) NULL,
	[CODIGO_USUARIO] [char](5) NULL,
	[FECHA] [datetime] NOT NULL,
	[MONTO_CAPITAL] [decimal](24, 4) NOT NULL,
	[NO_CUOTAS] [int] NULL,
	[ESTADO] [varchar](50) NULL,
	[PORCIENTO_INTERES_MENSUAL] [decimal](14, 4) NULL,
	[ULTIMO_COBRO_INTERES] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUOTA]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUOTA](
	[CODIGO] [char](10) NOT NULL,
	[CODIGO_PRESTAMO] [char](7) NULL,
	[FECHA_PAGO] [date] NOT NULL,
	[NUMERO_MORA] [int] NOT NULL,
	[MONTO_CAPITAL_RESTANTE] [decimal](24, 4) NULL,
	[MONTO_INTERES_RESTANTE] [decimal](24, 4) NULL,
	[MONTO_MORA] [decimal](24, 4) NULL,
	[ESTADO] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGO]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGO](
	[CODIGO] [char](14) NOT NULL,
	[ABONO] [decimal](24, 4) NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[METODO_PAGO] [varchar](50) NULL,
	[CODIGO_PRESTAMO] [char](7) NULL,
	[MORA_PAGADA] [decimal](24, 4) NULL,
	[INTERES_PAGADO] [decimal](24, 4) NULL,
	[CAPITAL_PAGADO] [decimal](24, 4) NULL,
PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VISTA_PRESTAMO]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE   VIEW [dbo].[VISTA_PRESTAMO] 
AS
(
	SELECT 
		P.CODIGO AS [Financiamiento],
		CONVERT(DECIMAL(24,2),ROUND(P.MONTO_CAPITAL,4)) AS [Monto Financiado],
		P.FECHA AS [Fecha de Creacion],
		P.NO_CUOTAS AS [Cuotas],
		CONVERT(DECIMAL(24,2),ROUND(P.PORCIENTO_INTERES_MENSUAL,4)) AS [Tasa Interes],
		P.ESTADO AS [Estado],
		C.CODIGO AS [Codigo Cliente],
		C.NOMBRE AS [Cliente],
		U.CODIGO AS [Codigo Vendedor],
		U.NOMBRE AS [Vendedor],
		CONVERT(DECIMAL(24,4),ROUND(SUM(CU.MONTO_CAPITAL_RESTANTE)+SUM(CU.MONTO_INTERES_RESTANTE)+SUM(CU.MONTO_MORA),4)) AS [Monto Total Restante],
		SUM(CU.NUMERO_MORA)AS [Moras],
		CONVERT(DECIMAL(24,2),ROUND((SELECT SUM(CAPITAL_PAGADO) FROM PAGO WHERE CODIGO_PRESTAMO =P.CODIGO)+
		(SELECT SUM(INTERES_PAGADO) FROM PAGO WHERE CODIGO_PRESTAMO =P.CODIGO)+
		(SELECT SUM(MORA_PAGADA) FROM PAGO WHERE CODIGO_PRESTAMO =P.CODIGO),4)) AS [Monto Pagado]

	FROM PRESTAMO P
	INNER JOIN CLIENTE C ON C.CODIGO=P.CODIGO_CLIENTE
	INNER JOIN USUARIO U ON U.CODIGO=P.CODIGO_USUARIO
	INNER JOIN CUOTA CU ON CU.CODIGO_PRESTAMO =P.CODIGO
	GROUP BY 
		P.CODIGO,
		P.MONTO_CAPITAL,
		P.FECHA,
		P.NO_CUOTAS,
		P.PORCIENTO_INTERES_MENSUAL,
		P.ESTADO,
		C.CODIGO,
		C.NOMBRE,
		U.CODIGO,
		U.NOMBRE
)
GO
/****** Object:  View [dbo].[VISTA_CLIENTE]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[VISTA_CLIENTE] 
AS
(
	SELECT 
		C.CODIGO,
		NOMBRE,
		CEDULA,
		FECHA_NAC,
		TELEFONO,
		DIRECCION
	FROM CLIENTE C 
	GROUP BY
	C.CODIGO,
	NOMBRE,
	CEDULA,
	FECHA_NAC,
	TELEFONO,
	DIRECCION
)


GO
/****** Object:  View [dbo].[VISTA_CUOTAS_VENCEN_HOY]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[VISTA_CUOTAS_VENCEN_HOY]
AS
(
	SELECT 
		C.CODIGO_PRESTAMO AS [Prestamo],
		C.CODIGO AS [Cuota],
		CLI.NOMBRE AS [Cliente],
		C.MONTO_CAPITAL_RESTANTE+C.MONTO_INTERES_RESTANTE+C.MONTO_MORA AS [Monto Total]
	FROM CUOTA C 
	INNER JOIN PRESTAMO P ON P.CODIGO=C.CODIGO_PRESTAMO
	INNER JOIN CLIENTE CLI ON CLI.CODIGO=P.CODIGO_CLIENTE
	WHERE CONVERT(DATE,C.FECHA_PAGO)=CONVERT(DATE,GETDATE())
)
GO
/****** Object:  View [dbo].[ULTIMOS_10_PAGOS]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ULTIMOS_10_PAGOS]
AS
(
	SELECT TOP 10
		P.CODIGO AS [Pago],
		PRE.CODIGO AS [Financiamiento],
		CLI.NOMBRE AS [Cliente],
		P.ABONO AS [Monto],
		P.FECHA AS [Fecha]
	FROM PAGO P
	INNER JOIN PRESTAMO PRE ON PRE.CODIGO=P.CODIGO_PRESTAMO
	INNER JOIN CLIENTE CLI ON CLI.CODIGO=PRE.CODIGO_CLIENTE
	ORDER BY P.FECHA DESC
)

GO
/****** Object:  View [dbo].[VISTA_CUOTAS_ATRASADAS]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISTA_CUOTAS_ATRASADAS]
AS
(
	SELECT TOP 10
		C.CODIGO AS [Cuota],
		C.CODIGO_PRESTAMO AS [Financiamiento],
		CLI.NOMBRE AS [Cliente],
		C.NUMERO_MORA AS [Numero de Moras],
		C.MONTO_CAPITAL_RESTANTE AS [Capital Restante],
		C.MONTO_INTERES_RESTANTE AS [Interes Restante],
		C.MONTO_MORA AS [Mora]
	FROM CUOTA C
	INNER JOIN PRESTAMO PRE ON PRE.CODIGO=C.CODIGO_PRESTAMO
	INNER JOIN CLIENTE CLI ON CLI.CODIGO=PRE.CODIGO_CLIENTE
	WHERE C.ESTADO!='PAGADA' AND C.NUMERO_MORA>0
	ORDER BY C.NUMERO_MORA DESC
)

GO
/****** Object:  View [dbo].[VISTA_PRESTAMO_INFO]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[VISTA_PRESTAMO_INFO]
AS
(
	SELECT 
		(SELECT COUNT(CODIGO)FROM PRESTAMO WHERE ESTADO ='PAGADO') AS [Prestamos Pagos],
		(SELECT COUNT(CODIGO)FROM PRESTAMO WHERE ESTADO ='ACTIVO')AS [Prestamos Activos],
		(SELECT COUNT(CODIGO)FROM PRESTAMO WHERE ESTADO ='CANCELADO')AS [Prestamos Cancelado],
		(SELECT COUNT(CODIGO)FROM PRESTAMO WHERE ESTADO ='ATRASADO')AS [Prestamos Atrasado]
)

GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CLIENTE_NOMBRE]    Script Date: 8/24/2021 11:24:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_CLIENTE_NOMBRE] ON [dbo].[CLIENTE]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CUOTA_FECHA]    Script Date: 8/24/2021 11:24:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_CUOTA_FECHA] ON [dbo].[CUOTA]
(
	[FECHA_PAGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_CUOTA_PRESTAMO]    Script Date: 8/24/2021 11:24:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_CUOTA_PRESTAMO] ON [dbo].[CUOTA]
(
	[CODIGO_PRESTAMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PAGO_FECHA]    Script Date: 8/24/2021 11:24:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_PAGO_FECHA] ON [dbo].[PAGO]
(
	[FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PAGO_PRESTAMO]    Script Date: 8/24/2021 11:24:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_PAGO_PRESTAMO] ON [dbo].[PAGO]
(
	[CODIGO_PRESTAMO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PRESTAMO_CLIENTE]    Script Date: 8/24/2021 11:24:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_PRESTAMO_CLIENTE] ON [dbo].[PRESTAMO]
(
	[CODIGO_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PRESTAMO_FECHA]    Script Date: 8/24/2021 11:24:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_PRESTAMO_FECHA] ON [dbo].[PRESTAMO]
(
	[FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_PRESTAMO_USUARIO]    Script Date: 8/24/2021 11:24:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_PRESTAMO_USUARIO] ON [dbo].[PRESTAMO]
(
	[CODIGO_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_USUARIO_NOMBRE]    Script Date: 8/24/2021 11:24:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_USUARIO_NOMBRE] ON [dbo].[USUARIO]
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUOTA]  WITH CHECK ADD FOREIGN KEY([CODIGO_PRESTAMO])
REFERENCES [dbo].[PRESTAMO] ([CODIGO])
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD FOREIGN KEY([CODIGO_PRESTAMO])
REFERENCES [dbo].[PRESTAMO] ([CODIGO])
GO
ALTER TABLE [dbo].[PRESTAMO]  WITH CHECK ADD FOREIGN KEY([CODIGO_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([CODIGO])
GO
ALTER TABLE [dbo].[PRESTAMO]  WITH CHECK ADD FOREIGN KEY([CODIGO_USUARIO])
REFERENCES [dbo].[USUARIO] ([CODIGO])
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD CHECK  (([FECHA_NAC]<getdate()))
GO
ALTER TABLE [dbo].[CUOTA]  WITH CHECK ADD CHECK  (([ESTADO]='ATRASADA' OR [ESTADO]='ACTIVA' OR [ESTADO]='PAGADA'))
GO
ALTER TABLE [dbo].[CUOTA]  WITH CHECK ADD CHECK  (([MONTO_CAPITAL_RESTANTE]>=(0)))
GO
ALTER TABLE [dbo].[CUOTA]  WITH CHECK ADD CHECK  (([MONTO_INTERES_RESTANTE]>=(0)))
GO
ALTER TABLE [dbo].[CUOTA]  WITH CHECK ADD CHECK  (([MONTO_MORA]>=(0)))
GO
ALTER TABLE [dbo].[CUOTA]  WITH CHECK ADD CHECK  (([NUMERO_MORA]>=(0)))
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD CHECK  (([ABONO]>(0)))
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [CK__PAGO__CAPITAL_PA__4F47C5E3] CHECK  (([CAPITAL_PAGADO]>=(0)))
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [CK__PAGO__CAPITAL_PA__4F47C5E3]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [CK__PAGO__INTERES_PA__4E53A1AA] CHECK  (([INTERES_PAGADO]>=(0)))
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [CK__PAGO__INTERES_PA__4E53A1AA]
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD CHECK  (([METODO_PAGO]='TARJETA DE DEBITO' OR [METODO_PAGO]='TARJETA DE CREDITO' OR [METODO_PAGO]='CHEQUE' OR [METODO_PAGO]='EFECTIVO'))
GO
ALTER TABLE [dbo].[PAGO]  WITH CHECK ADD  CONSTRAINT [CK__PAGO__MORA_PAGAD__4D5F7D71] CHECK  (([MORA_PAGADA]>=(0)))
GO
ALTER TABLE [dbo].[PAGO] CHECK CONSTRAINT [CK__PAGO__MORA_PAGAD__4D5F7D71]
GO
ALTER TABLE [dbo].[PRESTAMO]  WITH CHECK ADD CHECK  (([ESTADO]='CANCELADO' OR [ESTADO]='PAGADO' OR [ESTADO]='ACTIVO'))
GO
ALTER TABLE [dbo].[PRESTAMO]  WITH CHECK ADD CHECK  (([FECHA]<=getdate()))
GO
ALTER TABLE [dbo].[PRESTAMO]  WITH CHECK ADD CHECK  (([MONTO_CAPITAL]>(0)))
GO
ALTER TABLE [dbo].[PRESTAMO]  WITH CHECK ADD CHECK  (([NO_CUOTAS]>(0)))
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD CHECK  (([ESTADO]='INACTIVO' OR [ESTADO]='ACTIVO'))
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD CHECK  (([TIPO_USUARIO]='EMPLEADO' OR [TIPO_USUARIO]='GERENTE' OR [TIPO_USUARIO]='ADMINISTRADOR'))
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZA_CLIENTE]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZA_CLIENTE]
(
	@CODIGO CHAR(7),
	@TELEFONO CHAR(10),
	@DIRECCION VARCHAR(200)
)
AS
	IF @CODIGO!=''AND @TELEFONO!=''AND @DIRECCION=''
		UPDATE CLIENTE SET TELEFONO=@TELEFONO, DIRECCION=@DIRECCION WHERE CODIGO=@CODIGO
GO
/****** Object:  StoredProcedure [dbo].[ACTUALIZA_USUARIO]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ACTUALIZA_USUARIO]
(
	@OLD_USERNAME VARCHAR(50),
	@OLD_PASSWORD VARCHAR(50),
	@NEW_USERNAME VARCHAR(50),
	@NEW_PASSWORD VARCHAR(50)
)
AS
BEGIN
	DECLARE @CODIGO CHAR(5)=(SELECT CODIGO FROM USUARIO WHERE USERNAME=@OLD_USERNAME AND CLAVE=@OLD_PASSWORD)
	IF @CODIGO!=NULL
	BEGIN
		UPDATE USUARIO SET USERNAME=@NEW_USERNAME,CLAVE=@NEW_PASSWORD WHERE CODIGO=@CODIGO
	END
END
GO
/****** Object:  StoredProcedure [dbo].[CALCULA_INTERES]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[CALCULA_INTERES]
AS
BEGIN
	BEGIN TRANSACTION T1
	BEGIN TRY
		UPDATE CUOTA
			SET MONTO_INTERES_RESTANTE=MONTO_INTERES_RESTANTE+((P.MONTO_CAPITAL/NO_CUOTAS)*(P.PORCIENTO_INTERES_MENSUAL/100))
			FROM CUOTA C 
			INNER JOIN PRESTAMO P ON P.CODIGO=C.CODIGO_PRESTAMO
		WHERE GETDATE()>=DATEADD(MONTH,1,ULTIMO_COBRO_INTERES)
			  AND P.ESTADO!='PAGADO' AND C.ESTADO!='PAGADA'

		UPDATE PRESTAMO SET 
			ULTIMO_COBRO_INTERES=DATEADD(MONTH,1,ULTIMO_COBRO_INTERES)
		WHERE GETDATE()>=DATEADD(MONTH,1,ULTIMO_COBRO_INTERES)
			  AND ESTADO!='PAGADO'

		COMMIT TRANSACTION T1
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION T1
	END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[CALCULA_MORA]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CALCULA_MORA](@PORCENTAJE_MORA DECIMAL(3,1),@DIAS_DE_GRACIA INT)
AS
BEGIN
	EXEC CALCULA_INTERES

    UPDATE CUOTA SET 
			NUMERO_MORA=NUMERO_MORA+1,
			MONTO_MORA=MONTO_MORA+((MONTO_CAPITAL_RESTANTE+MONTO_INTERES_RESTANTE)*@PORCENTAJE_MORA/100)
	WHERE (NUMERO_MORA=0 AND GETDATE()>=DATEADD(DAY,@DIAS_DE_GRACIA,FECHA_PAGO)) OR
		  (NUMERO_MORA>0 AND GETDATE()>= DATEADD(MONTH,NUMERO_MORA,FECHA_PAGO))
END
--SI LA CUOTA NO TIENE MORA Y LA FECHA ES MAYOR A LA FECHA DE PAGO MAS 3 DIAS
--	NUMERO DE MORA= NUMERO DE MORA + 1
--DE LO CONTRARIO SI TIENE MORA Y LA FECHA ACTUAL ES MAYOR A FECHA DE PAGO + NUMERO DE MORA MESES
--	NUMERO DE MORA = NUMERO DE MORA +1


GO
/****** Object:  StoredProcedure [dbo].[INSERTA_CLIENTE]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[INSERTA_CLIENTE]
(
	@NOMBRE VARCHAR(50),
	@CEDULA CHAR(11),
	@FECHA_NAC DATE,
	@TELEFONO CHAR(10),
	@DIRECCION VARCHAR(200)
)
AS
BEGIN 

	DECLARE @ID INT =1
	DECLARE @COD CHAR(7)='C-00000'
	DECLARE @NUM_COD CHAR(8)

	IF EXISTS(SELECT CODIGO FROM CLIENTE)
		SET @ID = @ID+CONVERT(INT,RIGHT((SELECT MAX(CODIGO) FROM CLIENTE),5))

	SET @NUM_COD=RIGHT(@COD,5)+CONVERT(CHAR,@ID)
	SET @COD=LEFT(@COD,2)+RIGHT(REPLACE(TRIM(@NUM_COD),' ',''),5)


	INSERT INTO CLIENTE VALUES(@COD,@NOMBRE,@CEDULA,@FECHA_NAC,@TELEFONO,@DIRECCION)
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_PAGO]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[INSERTA_PAGO]
(
	@CODIGO_PRESTAMO CHAR(7),
	@ABONO DECIMAL(24,4),
	@FECHA DATETIME,
	@METODO_PAGO VARCHAR(50)
)
AS
BEGIN

	DECLARE @CONTADOR_CUOTA INT = 1
	DECLARE @CODIGO CHAR(17)='P-000-'+@CODIGO_PRESTAMO
	DECLARE @ESTADO_PRESTAMO VARCHAR(50)=(SELECT ESTADO FROM PRESTAMO WHERE CODIGO =@CODIGO_PRESTAMO)
	DECLARE @NUMERO_CODIGO INT

	IF EXISTS(SELECT CODIGO FROM PAGO WHERE CODIGO_PRESTAMO=@CODIGO_PRESTAMO)
		SET @CODIGO =(SELECT MAX(CODIGO) FROM PAGO WHERE CODIGO_PRESTAMO=@CODIGO_PRESTAMO)
	
	SET @NUMERO_CODIGO =CONVERT(INT,RIGHT(LEFT(@CODIGO,5),3))+1

	IF @ESTADO_PRESTAMO='PAGADO' OR @NUMERO_CODIGO>999
	BEGIN
		SELECT 'NO SE PUEDEN REALIZAR MAS PAGOS A ESTE PRESTAMO'
		RETURN
	END

	SET @CODIGO='P-'+TRIM(RIGHT('000'+TRIM(CONVERT(CHAR(3),@NUMERO_CODIGO)),3))+'-'+TRIM(@CODIGO_PRESTAMO)
	
	-- X:
	--SET @CODIGO='P-'+TRIM(RIGHT('000'+TRIM(CONVERT(CHAR(3),@CONTADOR_CUOTA)),2))+'-'+TRIM(@CODIGO_PRESTAMO)
	----SET @CODIGO=TRIM(@CODIGO_PRESTAMO)+'-'+TRIM(CONVERT(CHAR(2),@CONTADOR_CUOTA))
	--IF EXISTS(SELECT CODIGO FROM PAGO WHERE CODIGO=@CODIGO)
	--BEGIN
	--	SET @CONTADOR_CUOTA=@CONTADOR_CUOTA+1
	--	GOTO X
	--END
	INSERT INTO PAGO
	(
		CODIGO,
		CODIGO_PRESTAMO,
		ABONO,
		FECHA,
		METODO_PAGO,
		MORA_PAGADA,
		INTERES_PAGADO,
		CAPITAL_PAGADO
	)
	VALUES
	(
		@CODIGO,
		@CODIGO_PRESTAMO,
		@ABONO,
		@FECHA,
		@METODO_PAGO,
		0,0,0
	)

END



--EXEC INSERTA_PAGO 'L-00001',21000,'20210101','CHEQUE'
--SELECT * FROM PAGO
--SELECT * FROM PRESTAMO
--SELECT * FROM CUOTA

--DELETE FROM PAGO
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_PRESTAMO]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[INSERTA_PRESTAMO]
(
	@CODIGO_CLIENTE CHAR(7),
	@CODIGO_USUARIO CHAR(5),
	@FECHA DATETIME,
	@MONTO_CAPITAL DECIMAL(24,4),
	@NO_CUOTAS INT,
	@INTERES_MENSUAL DECIMAL(14,4),
	@ESTADO VARCHAR(50)
)
AS
BEGIN
	DECLARE @ID INT =1
	DECLARE @COD CHAR(7)='L-00000'
	DECLARE @NUM_COD CHAR(10)

	IF EXISTS(SELECT CODIGO FROM PRESTAMO)
		SET @ID = @ID+CONVERT(INT,RIGHT((SELECT MAX(CODIGO) FROM PRESTAMO),5))

	SET @NUM_COD=RIGHT(@COD,5)+CONVERT(CHAR,@ID)
	SET @COD=LEFT(@COD,2)+RIGHT(REPLACE(TRIM(@NUM_COD),' ',''),5)

	INSERT INTO PRESTAMO
	(
		CODIGO,
		CODIGO_CLIENTE,
		CODIGO_USUARIO,
		FECHA,
		MONTO_CAPITAL,
		NO_CUOTAS,
		PORCIENTO_INTERES_MENSUAL,
		ULTIMO_COBRO_INTERES,
		ESTADO
	)
	VALUES
	(
		@COD,
		@CODIGO_CLIENTE,
		@CODIGO_USUARIO,
		@FECHA,
		@MONTO_CAPITAL,
		@NO_CUOTAS,
		@INTERES_MENSUAL,
		@FECHA,
		@ESTADO
	)

	
END
GO
/****** Object:  StoredProcedure [dbo].[INSERTA_USUARIO]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[INSERTA_USUARIO]
(
	@NOMBRE VARCHAR(50),
	@CEDULA CHAR(11),
	@USERNAME VARCHAR(50),
	@CLAVE VARCHAR(50),
	@TIPO_USUARIO VARCHAR(50),
	@ESTADO VARCHAR(50)
)
AS
BEGIN
	DECLARE @ID INT =1
	DECLARE @COD CHAR(5)='U-000'
	DECLARE @NUM_COD CHAR(8)



	IF EXISTS(SELECT CODIGO FROM USUARIO)
	BEGIN
		SET @ID = @ID+CONVERT(INT,(SELECT RIGHT(MAX(CODIGO),3) FROM USUARIO))
	END

	SET @NUM_COD=RIGHT(@COD,3)+CONVERT(CHAR,@ID)
	SET @COD=LEFT(@COD,2)+RIGHT(REPLACE(TRIM(@NUM_COD),' ',''),3)

	INSERT INTO USUARIO
	(
		CODIGO,
		NOMBRE,
		CEDULA,
		USERNAME,
		CLAVE,
		TIPO_USUARIO,
		ESTADO
	)
	VALUES
	(
		@COD,
		@NOMBRE,
		@CEDULA,
		@USERNAME,
		@CLAVE,
		@TIPO_USUARIO,
		@ESTADO
	)
END

GO
/****** Object:  Trigger [dbo].[REALIZA_PAGO]    Script Date: 8/24/2021 11:24:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[REALIZA_PAGO] ON [dbo].[PAGO] AFTER INSERT
AS
BEGIN

	DECLARE @CODIGO_PRESTAMO CHAR(7)=(SELECT CODIGO_PRESTAMO FROM INSERTED)
	DECLARE @ABONO DECIMAL(24,4)=(SELECT ABONO FROM INSERTED)
	DECLARE @NO_CUOTAS INT =(SELECT NO_CUOTAS FROM PRESTAMO WHERE CODIGO=@CODIGO_PRESTAMO)

	DECLARE @CODIGO CHAR(10)
	DECLARE @MONTO_MORA DECIMAL(24,4)
	DECLARE @MONTO_INTERES DECIMAL(24,4)
	DECLARE @MONTO_CAPITAL DECIMAL(24,4)

--********************* INICIO DE COBRO DE MORA ********************************
	DECLARE CURSOR_MORA CURSOR LOCAL FAST_FORWARD FOR SELECT 
										CODIGO,
										MONTO_MORA 
										FROM(SELECT FECHA_PAGO,CODIGO,MONTO_MORA
												FROM CUOTA 
											 WHERE CODIGO_PRESTAMO=@CODIGO_PRESTAMO
												   AND ESTADO !='PAGADA') AS CUOTAS 
												   ORDER BY FECHA_PAGO ASC

	OPEN CURSOR_MORA 
	FETCH NEXT FROM CURSOR_MORA INTO @CODIGO,@MONTO_MORA

	WHILE @@FETCH_STATUS=0
	BEGIN
		IF @ABONO<=@MONTO_MORA
		BEGIN

				UPDATE CUOTA SET MONTO_MORA=@MONTO_MORA-@ABONO
					WHERE CODIGO=@CODIGO

				UPDATE PAGO SET MORA_PAGADA=MORA_PAGADA+@ABONO
					WHERE CODIGO =(SELECT CODIGO FROM INSERTED)

			CLOSE CURSOR_MORA
			DEALLOCATE CURSOR_MORA
			RETURN
		END
		ELSE
		BEGIN
			UPDATE CUOTA SET MONTO_MORA=0
				WHERE CODIGO=@CODIGO

			UPDATE PAGO SET MORA_PAGADA =MORA_PAGADA+@MONTO_MORA
				WHERE CODIGO =(SELECT CODIGO FROM INSERTED)

			SET @ABONO=@ABONO-@MONTO_MORA
			FETCH NEXT FROM CURSOR_MORA INTO @CODIGO,@MONTO_MORA
		END	
	END
-- ********************** FIN DE COBRO DE MORA ******************************************
	
	CLOSE CURSOR_MORA
	DEALLOCATE CURSOR_MORA

--*********************** INICIO DE COBRO DE CAPITAL E INTERES ************************************
	DECLARE CURSOR_CAP_INT CURSOR LOCAL FAST_FORWARD FOR SELECT
										CODIGO,
										MONTO_INTERES_RESTANTE,
										MONTO_CAPITAL_RESTANTE 
										FROM CUOTA 
									WHERE MONTO_MORA=0 AND CODIGO_PRESTAMO=@CODIGO_PRESTAMO

	OPEN CURSOR_CAP_INT 
	FETCH NEXT FROM CURSOR_CAP_INT INTO @CODIGO,@MONTO_INTERES,@MONTO_CAPITAL

	WHILE @@FETCH_STATUS=0
	BEGIN
		IF @ABONO<(@MONTO_CAPITAL+@MONTO_INTERES)
			BEGIN
				IF @ABONO<=@MONTO_INTERES
				BEGIN
					UPDATE CUOTA SET MONTO_INTERES_RESTANTE=@MONTO_INTERES-@ABONO
						WHERE CODIGO=@CODIGO

					UPDATE PAGO SET INTERES_PAGADO =INTERES_PAGADO+@ABONO
						WHERE CODIGO =(SELECT CODIGO FROM INSERTED)

					CLOSE CURSOR_CAP_INT
					DEALLOCATE CURSOR_CAP_INT
					RETURN
				END
				ELSE
				BEGIN
					SET @ABONO=@ABONO-@MONTO_INTERES
					UPDATE CUOTA SET MONTO_INTERES_RESTANTE=0, MONTO_CAPITAL_RESTANTE=@MONTO_CAPITAL-@ABONO
						WHERE CODIGO=@CODIGO
						
					UPDATE PAGO SET INTERES_PAGADO =INTERES_PAGADO+@MONTO_INTERES, CAPITAL_PAGADO =CAPITAL_PAGADO + @ABONO
						WHERE CODIGO =(SELECT CODIGO FROM INSERTED)

					CLOSE CURSOR_CAP_INT
					DEALLOCATE CURSOR_CAP_INT
					RETURN
				END
			END
			ELSE
			BEGIN
				SET @ABONO=@ABONO-(@MONTO_CAPITAL+@MONTO_INTERES)

				UPDATE CUOTA SET MONTO_INTERES_RESTANTE=0,MONTO_CAPITAL_RESTANTE=0,ESTADO='PAGADA'
					WHERE CODIGO=@CODIGO

				UPDATE PAGO SET INTERES_PAGADO=INTERES_PAGADO+@MONTO_INTERES,CAPITAL_PAGADO=CAPITAL_PAGADO+@MONTO_CAPITAL
					WHERE CODIGO=(SELECT CODIGO FROM INSERTED)

				IF CONVERT(INT,RIGHT(@CODIGO,2))=@NO_CUOTAS
				BEGIN
					UPDATE PRESTAMO SET ESTADO='PAGADO' WHERE CODIGO=@CODIGO_PRESTAMO
					
					CLOSE CURSOR_CAP_INT
					DEALLOCATE CURSOR_CAP_INT
					RETURN
				END
				ELSE
					FETCH NEXT FROM CURSOR_CAP_INT INTO @CODIGO,@MONTO_INTERES,@MONTO_CAPITAL
			END
	END
	----********************FIN DE COBRO DE CAPITAL E INTERES ***************************************
END


GO
ALTER TABLE [dbo].[PAGO] ENABLE TRIGGER [REALIZA_PAGO]
GO
/****** Object:  Trigger [dbo].[INSERTA_CUOTAS]    Script Date: 8/24/2021 11:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[INSERTA_CUOTAS] ON [dbo].[PRESTAMO] AFTER INSERT
AS
BEGIN
	DECLARE @CODIGO_PRESTAMO CHAR(7)=(SELECT CODIGO FROM INSERTED)
	DECLARE @FECHA_CUOTA DATETIME=(SELECT FECHA FROM INSERTED)
	DECLARE @NO_CUOTAS INT =(SELECT NO_CUOTAS FROM INSERTED)
	DECLARE @PORCIENTO_INTERES DECIMAL(14,4)=(SELECT PORCIENTO_INTERES_MENSUAL FROM INSERTED)
	DECLARE @MONTO_CAPITAL_MENSUAL DECIMAL(24,4) =(SELECT MONTO_CAPITAL FROM INSERTED)/@NO_CUOTAS
	DECLARE @MONTO_INTERES_MENSUAL DECIMAL(24,4)=@MONTO_CAPITAL_MENSUAL*(@PORCIENTO_INTERES)/100

	DECLARE @ID_CUOTA INT =0
	DECLARE @CODIGO_CUOTA CHAR(13)=@CODIGO_PRESTAMO

	WHILE @ID_CUOTA<@NO_CUOTAS
	BEGIN
		SET @ID_CUOTA=@ID_CUOTA+1
		SET @CODIGO_CUOTA=TRIM(@CODIGO_CUOTA)+'-'+TRIM(RIGHT('00'+TRIM(CONVERT(CHAR(2),@ID_CUOTA)),2))
		SET @FECHA_CUOTA=DATEADD(MONTH,1,@FECHA_CUOTA)

		INSERT INTO CUOTA
		(
			CODIGO,
			CODIGO_PRESTAMO,
			FECHA_PAGO,
			NUMERO_MORA,
			MONTO_CAPITAL_RESTANTE,
			MONTO_INTERES_RESTANTE,
			MONTO_MORA,
			ESTADO
		)
		VALUES
		(
			@CODIGO_CUOTA,
			@CODIGO_PRESTAMO,
			@FECHA_CUOTA,
			0,
			@MONTO_CAPITAL_MENSUAL,
			@MONTO_INTERES_MENSUAL,
			0,
			'ACTIVA'
		)
		SET @CODIGO_CUOTA=@CODIGO_PRESTAMO
	END

END
GO
ALTER TABLE [dbo].[PRESTAMO] ENABLE TRIGGER [INSERTA_CUOTAS]
GO
USE [master]
GO
